<div class="vcard">	
	<p>
		<a class="fn org url" href="http://www.katharina-barth.at/">Katharina Barth</a><br />
		<span class="adr">
			<span class="street-address">Pumaweg 6</span>,
			<span class="locality">Pucking</span> 
			<span class="postal-code">4055</span>
			<span class="country-name hide">Österreich</span>
		</span><br />
		<span class="tel">
			<span class="type">Tel</span>:
			<a class="value" href="callto:0043-7229-81331">07229 / 81331</a>
		</span>
		<span class="tel">
			<span class="type">Mobil</span>:
			<a class="value" href="callto:0043-676-3513050">0676 / 3513050</a>
		</span>
	</p>
</div> <!-- /vcard -->