<!DOCTYPE html>
<html lang="de">
<head>
  <title>{{ site.title }} / {{ page.title }}</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="/res/stylesheets/import.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/res/stylesheets/print.css" type="text/css" media="print">
  <link rel="shortcut icon" href="/res/images/favicon.png" type="image/x-icon">
  <script src="/res/javascripts/jquery.js" type="text/javascript"></script>
  <script src="/res/javascripts/jquery.toc.js" type="text/javascript"></script>
  <script src="/res/javascripts/app.js" type="text/javascript"></script>
</head>
<body id="">
	<div id="container">
    <div id="main-nav">
    <ul>
    	<li><a href="/">Home</a></li>
    	<li><a href="/seminar/{{ site.year }}/">Seminarprogramm {{ site.year }}</a> 
    		<div id="sub-nav"></div>
    	</li>
    	</ul>
    </div><!-- /main-nav -->
    <hr />
	  <div id="primary-content">
      <div id="masthead">
      	<a id="top" class="fn org" href="/" title="Home">{{ site.title }}</a>
      	<ul>
      		<li class="first">Meridian-Akupunktur</li>
      		<li>Augen-Aussage</li>
      		<li>Diplomlebensberaterin</li>
      		<li>Fu&szlig;reflex</li>
      		<li>Gesprächstherapie</li>
      		<li>Lymphdrainage</li>
      		<li>Segment</li> 
      		<li class="last">Ganzheitliches Heilen</li>
      	</ul>   
      	<blockquote>
      		<p>Die Abbildung zeigt eine Seitenansicht<br />
      			der trichterförmigen Chakren.<br />
      			Ihre Verbindungen zum Hauptkanal in der<br />
      			Wirbelsäule sowie ihre Position über den<br />
      			stofflichen Körper hinaus.
      		</p>
      	</blockquote>
      </div> <!-- /masthead -->
      <hr />
      {{ content }}
      {% if page.url == '/index.html' %}
      {% include vcard.html %}
      {% endif %}
    </div>
    <div id="footer">
    	<h4>Impressum</h4>
      {% include vcard.html %}
    	<ul class="credits">
    		<li>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</li>
    		<li><a href="http://www.oops.co.at/">oops!</a></li>
     	</ul>
    </div> <!-- /footer -->
	</div> <!-- /container -->
</body>                                                  
</html>